body {
  font-size: 16px;
  font-family: "Roboto", "Arial", sans-serif;
  color: #283136;
}

h2,
h3 {
  text-transform: uppercase;
  color: #000000;
}

h1 {
  font-size: 55px;
  line-height: 55px;
  text-align: center;
}

.title-item {
  font-size: 24px;
  line-height: 30px;
}

.title-product,
h3 {
  font-size: 18px;
  line-height: 30px;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.main-header {
  min-height: 114px;

  background-color: #eeeeee;
}

.container {
  width: 1160px;
  margin: 0 auto;
  padding: 0 20px;
}

.logo-header {
  float: left;
  width: 160px;
  min-height: 114px;
}

.main-navigation {
  float: left;
  width: 640px;
  min-height: 114px;
  margin-left: 200px;
  margin-right: 60px;
}

.user-block {
  float: right;
  width: 100px;
  min-height: 114px;
}

.slider {
  min-height: 349px;
  padding-top: 81px;

  background-color: #eeeeee;
}

.index-slide {
  min-width: 560px;
  min-height: 271px;
}

.features {
  min-height: 347px;
  margin-top: 80px;
  margin-bottom: 122px;
}

.item {
  float: left;
  width: 300px;
  margin-right: 100px;
}

.item:last-child {
  margin-right: 60px;
}

.about-us {
  margin-bottom: 75px;
}

.about-us-left {
  float: left;
  width: 660px;
  min-width: 370px;
  margin-right: 140px;
  padding-top: 40px;
}

.about-us-right {
  float: right;
  min-height: 410px;
}

.our-works {
  min-height: 184px;
  margin-bottom: 82px;

  font-size: 0px;
}

.index-logo {
  display: inline-block;
  width: 260px;
  margin-right: 40px;

  vertical-align: middle;
}

.index-logo:nth-child(4n) {
  margin-right: 0px;
}

.map {
  min-height: 308px;
  padding: 54px 0;

  background-image: url("../img/nerds-map.jpg");
  background-repeat: no-repeat;
  background-position: center;
}

.contacts {
  width: 319px;
  min-height: 308px;

  background-color: #ffffff;
}

.main-footer {
  min-height: 79px;
  margin-top: 70px;
  margin-bottom: 70px;
}

.social-footer {
  float: left;
  width: 380px;
  margin-right: 20px;
}

.text {
  float: right;
  width: 760px;
}

.catalog-title {
  min-height: 241px;
  margin-bottom: 59px;
}

.column-left {
  float: left;
  width: 260px;
  min-height: 780px;
  margin-right: 100px;
}

.column-right {
  float: right;
  width: 800px;
}

.sort {
  width: 760px;
  min-height: 20px;
  margin-bottom: 55px;
  padding-left: 40px;
}

.product {
  float: left;
  width: 360px;
  margin-left: 40px;
  margin-bottom: 40px;
}

.pagination {
  width: 760px;
  min-height: 50px;
  margin-top: 62px;
  margin-bottom: 60px;
}
